/*============================= Variable =================================*/
$color1: black;
$texte-color: #858585;
$texte-color1: #fff;
/*=========================== PLACEHOLDER ================================*/
%div_row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
/*============================== Mixin ======================================*/
@mixin absolute_div($top, $right, $bottom, $left){
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
/*=================================== MAIN =====================================*/
/*=============================================================================*/
main{
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background: $color1;
  // logo
  .logo{
    margin: 0 auto;
    @include absolute_div(18%, 0, none, 0);
    text-align: center;
    .presents{
      font-size: 9pt;
      color: $texte-color;
    }
  }
}
// big image recollection
main .big_img_move{
  padding-top: 20px;
  @include absolute_div(50%, none, none, 50%);
  width: 75pc;
  height: 300px;
  display: inline-block;
  transform: translate(-50%, -50%);
  background-image: url("../assets/recollection.png");
  background-position: 0px -2700px;
  background-repeat: no-repeat;
  transform-origin: center top;
  animation: move_bg 0.01ms ease infinite alternate;
}

// div text1
.div_text1{
  padding-top: 10px;
  @include absolute_div(65%, 0, none, 0);
  width: 100%;
  text-align: center;
  .subtitle{
    color: $texte-color1;
    font-size: 0.8rem;
    font-weight: 200;
  }
}

// div with spacebar part
main{
  .div_spacebar{
    padding-top: 20px;
    @include absolute_div(70%, 0, none, 0);
    width: 100%;
    text-align: center;
    @extend %div_row;
    justify-content: center;
    margin: 0 auto;
    p{
      color: $texte-color1;
      font-size: 1.1rem;
    }
  }
}
main{
  .spacebar_button{
    width: 140px;
    display: block;
    background: transparent;
    margin: 0px 7px 2px 7px;
    position: relative;
    svg{
      fill: $texte-color1;
    }
    span{
      @include absolute_div(20%, 0, none, 0);
      color: $texte-color1;
      font-size: 1.1rem;
    }
  }
}
//  copyright
main{
  .div_copy{
    @include absolute_div(none, none, 30px, 30px);
    width: auto;
    text-align: center;
    a, p{
      color: $texte-color1;
    }
  }
}
/*--------------------- mise en place de l'animation ------------------*/
@keyframes move_bg {
  0%{
    background-position: 0px -2700px;
  }
  10%{
    background-position: 0px -2100px;
  }
  20%{
    background-position: -1200px -2700px;
  }
  30%{
    background-position: -1200px -2100px;
  }
  40%{
    background-position: -1200px -1800px;
  }
  50%{
    background-position: -2400px -2700px;
  }
  60%{
    background-position: -2400px -2100px;
  }
  70%{
    background-position: -2400px -1800px;
  }
  80%{
    background-position: -1200px -1800px;
  }
  90%{
    background-position: -1200px -2100px;
  }
  100%{
    background-position: -1200px -1800px;
  }
}
